.allow {
  color: white;
  position: relative;
  font-size: 24px;
  width: fit-content;
}

.allow::after {
  content: "";
  display: block;
  height: 130px;
  width: 43px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  margin-inline: auto;
  transform: skew(-50deg);
}

.allow::after {
  content: "";
  display: block;
  width: 1px;
  height: 130px;
  background-color: white;
  margin-inline: auto;
  animation: allowAnimation 3s infinite;
  transform: scale(0.8);
  transform-origin: top;
}

.allow::before {
  content: "";
  display: block;
  width: 1px;
  height: 43px;
  background-color: white;
  position: absolute;
  bottom: -3px;
  right: 20px;
  animation: beforeAllowAnimation 3s infinite;
  rotate: 30deg;
}

@keyframes allowAnimation {
  0% {
    transform: scale(0.8);
    transform-origin: top;
  }
  50% {
    transform: scale(1);
    transform-origin: top;
  }
  100% {
    transform: scale(0.8);
    transform-origin: top;
  }
}

@keyframes beforeAllowAnimation {
  0% {
    translate: 0 -25px;
  }
  50% {
    translate: 0 0;
  }

  100% {
    translate: 0 -25px;
  }
}
